@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@font-face {
    font-family: 'Arista 2.0';
    src: url('../fonts/Arista20.woff2') format('woff2'),
        url('../fonts/Arista20.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
/*====================== Variables ========================*/
$roboto: "Roboto", sans-serif;
$arista: 'Arista 2.0';
$beige: #F1E9E5;
$beige_light: #F9F6F5;
$beige_dark: #e9dbd4;
$marron: #D9C2B6;
$red: #FF4438;
$black: #000000;
$white: #ffffff;
$gray: #666666;
$blue: #425cc7;
// Functions and mixins
@function scaleVW($size, $viewportWidth) {
    @return calc(($size * 100) / $viewportWidth) * 1vw;
}
@function LH($lineheight, $fontSize) {
    @return calc($lineheight / $fontSize);
}
/*============== Font size ===============*/
$h1: calc(1rem + 3.6vw);
$p: scaleVW(25, 1920);
$p_movil: scaleVW(20, 480);
*{
    font-family: $roboto;
}
p{
    font-size: $p;
    line-height: 1.3;
    font-weight: 400;
    @media(max-width:500px){
        font-size: $p_movil;
    }
}
.container{
    width: 100%;
    max-width: 1300px !important;
}
html, body{
    width: 100%;
    overflow-x: hidden;
}
.wcspc-count{
    display: none !important;
}
/*================ Products style =================*/
.woocommerce{
    .product-card{
        text-decoration: none;
        .image-contain{
            position: relative;
            overflow: hidden;
            img{
                width: 100%;
                height: auto;
            }
            .onsale{
                position: absolute;
                left: 2%;
                transform: translateX(-2%);
                background: $white;
                border-radius: 0;
                display: flex;
                height: fit-content;
                min-height: auto;
                min-width: fit-content;
                padding: 5px 10px;
                color: $black;
                line-height: 1.2;
                top: inherit;
                font-size: scaleVW(17, 480);
                font-weight: 600;
                @media(min-width:769px){
                    bottom: scaleVW(50, 1920);
                    font-size: scaleVW(25, 1920);
                }
            }
            .price{
                position: absolute;
                bottom: 0;
                left: 3%;
                transform: translateX(-3%);
                padding: 5px 10px;
                background: $white;
                color: $black;
                font-weight: 600;
                font-size: scaleVW(25, 1920);
                display: flex;
                gap: 5px;
                @media(max-width:769px){
                    font-size: scaleVW(17, 480);
                }
            }
        }
        .text-contain{
            padding: 5px 18px;
            h2{
                color: $black;
                font-size: scaleVW(25, 1920);
                font-weight: 600;
                margin-bottom: 0;
                @media(max-width:768px){
                    font-size: scaleVW(19, 480);
                }
            }
            p{
                color: $gray;
                font-size: scaleVW(25, 1920);
                font-weight: 400;
                @media(max-width:768px){
                    font-size: scaleVW(19, 480);
                }
            }
        }
    }
}
/*============ Car pop up ============*/
.wcspc-area{
    background: $white !important;
    &::after{
        display: none;
    }
    .wcspc-area-top{
        .wcspc-item{
            padding: 0 15px !important;
        }
    }
    .wcspc-action{
        .wcspc-action-inner{
            flex-direction: column;
            gap: 7px;
            display: flex !important;
            div{
                width: 100% !important;
                a{
                    border-color: $black !important;
                    background: $black !important;
                    font-family: $roboto !important;
                    font-weight: 500 !important;
                    border-radius: 20px !important;
                    &:hover{
                        background: $white !important;
                        color: $black !important;
                    }
                }
            }
            .wcspc-action-right{
                padding: 0 !important;
            }
        }
    }
}
body.sib-popup{
    background-color: transparent !important;
}