.product-banner-partial-998797 {
    display: flex;
    align-items: center;
    background: $white;
    .banner-item{
        width: 50%;
        a{
            width: 100%;
            height: 60vh;
            overflow: hidden;
            position: relative;
            display: block;
            text-decoration: none;
            .background{
                width: 100%;
                height: 100%;
                object-fit: cover;
                object-position: center;
            }
            .feature-image{
                width: 100%;
                max-width: calc(14rem + 3.6vw);
                height: auto;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                transition: .2s;
            }
            .text-and-cta{
                position: absolute;
                bottom: 0;
                left: 7%;
                transform: translate(-7%, -30%);
                .product-name{
                    font-size: calc(1rem + 1vw);
                    list-style: 1.3;
                    margin-bottom: .7rem;
                }
                span{
                    padding: 5px 1rem;
                    font-size: 16px;
                    border-radius: 20px;
                    line-height: 1;
                    display: block;
                    transition: .2s;
                    width: fit-content;
                }
            }
            &:hover{
                .feature-image{
                    transform: translate(-50%, -50%) scale(1.1);
                }
                .text-and-cta{
                    span{
                        transform: scale(1.05);
                        box-shadow: 2px 2px 9px -6px #000000;
                    }
                }
            }
        }
    }
    @media(max-width:500px){
        flex-direction: column;
        .banner-item{
            width: 100%;
            a{
                .text-and-cta{
                    .product-name{
                        font-size: $p_movil;
                    }
                }
            }
        }
    }
    @media screen and (min-width:511px) and (max-width:768px){
        .banner-item{
            a{
                .feature-image{
                    max-width: calc(8rem + 3.6vw);
                }
                .text-and-cta{
                    .product-name{
                        font-size: $p_movil;
                    }
                }
            }
        }
    }
}