.about-partial-82f4b8 {
    padding: scaleVW(100, 1920) 0;
    h1{
        text-align: center;
        padding: scaleVW(57, 1920) 0 0 0;
        margin-bottom: 0;
        font-size: scaleVW(120, 1920);
        font-weight: 700;
        @media(max-width:768px){
            padding: 0;
            padding-bottom: scaleVW(60, 480);
            text-align: center;
            font-size: scaleVW(60, 480);
        }
    }
    .about-image{
        width: 100%;
        height: auto;
    }
}