.product-filter-partial-b72424 {
    .filter{
        display: flex;
        flex-direction: column;
        gap: 2rem;
        width: 100%;
        /*============== By category ===============*/
        .by-category{
            .filter-name{
                cursor: pointer;
                display: flex;
                align-items: center;
                justify-content: space-between;
                width: 100%;
                h4{
                    color: $black;
                    font-size: 22px;
                    margin-bottom: 0;
                    display: block;
                    width: fit-content;
                }
                span{
                    display: block;
                    width: fit-content;
                    svg{
                        max-width: 25px;
                        height: auto;
                    }
                }
            }
            .the-filter{
                display: none;
                transition: .2s;
                padding: 10px 0;
                ul{
                    list-style: none;
                    padding: 0;
                    margin: 0;
                    display: flex;
                    flex-direction: column;
                    gap: 8px;
                    li{
                        a{
                            display: flex;
                            width: 100%;
                            text-decoration: none;
                            align-items: center;
                            gap: 10px;
                            .checkbox{
                                display: block;
                                width: 15px;
                                height: 15px;
                                border: 1px solid $black;
                                border-radius: 4px;
                                position: relative;
                                &::before{
                                    visibility: hidden;
                                    content: '';
                                    width: 13px;
                                    height: 6px;
                                    position: absolute;
                                    top: 50%;
                                    left: 50%;
                                    transform: translate(-50%, -50%) rotate(-45deg);
                                    border-bottom: 2px solid;
                                    border-left: 2px solid;
                                    border-color: $black;
                                    transition: .2s;
                                }
                            }
                            .name{
                                font-size: 16px;
                                color: $black;
                            }
                        }
                        a.active{
                            .checkbox{
                                &::before{
                                    visibility: visible;
                                }
                            }
                        }
                    }
                }
            }
        }
        .by-category.active{
            .the-filter{
                display: block;
            }
        }
        /*============== By color ==============*/
        .by-color{
            .filter-name{
                cursor: pointer;
                display: flex;
                align-items: center;
                justify-content: space-between;
                width: 100%;
                h4{
                    color: $black;
                    font-size: 22px;
                    margin-bottom: 0;
                    display: block;
                    width: fit-content;
                }
                span{
                    display: block;
                    width: fit-content;
                    svg{
                        max-width: 25px;
                        height: auto;
                    }
                }
            }
            .the-filter{
                display: none;
                transition: .2s;
                padding: 10px 0;
                ul{
                    list-style: none;
                    padding: 0;
                    margin: 0;
                    display: flex;
                    flex-wrap: wrap;
                    gap: 8px;
                    align-items: center;
                    li{
                        width: 50%;
                        .this-color{
                            display: flex;
                            flex-direction: column;
                            justify-content: center;
                            align-items: center;
                            color: $black;
                            text-decoration: none;
                            .color{
                                width: 30px;
                                height: 30px;
                                background-repeat: no-repeat;
                                background-size: cover;
                                background-position: center;
                                border-radius: 50%;
                                position: relative;
                                overflow: hidden;
                                &::before{
                                    content: '';
                                    width: 15px;
                                    height: 7px;
                                    border-left: 2px solid;
                                    border-bottom: 2px solid;
                                    border-color: $white;
                                    visibility: hidden;
                                    position: absolute;
                                    left: 50%;
                                    top: 50%;
                                    transform: translate(-50%, -50%) rotate(-45deg);
                                    z-index: 1;
                                }
                                &::after{
                                    content: '';
                                    width: 100%;
                                    height: 100%;
                                    background: rgba(0,0,0, .5);
                                    position: absolute;
                                    top: 0;
                                    left: 0;
                                    visibility: hidden;
                                    transition: .5s;
                                }
                            }
                            .name{
                                font-size: 16px;
                                color: $black;
                                transition: .2s;
                                position: relative;
                            }
                        }
                        .this-color.active{
                            .color{
                                &::after, &::before{
                                    visibility: visible;
                                }
                            }
                            .name{
                                font-weight: 700;
                            }
                        }
                    }
                }
            }
        }
        .by-color.active{
            .the-filter{
                display: block;
            }
        }
        /*=============== By size ===============*/
        .by-size{
            .filter-name{
                cursor: pointer;
                display: flex;
                align-items: center;
                justify-content: space-between;
                width: 100%;
                h4{
                    color: $black;
                    font-size: 22px;
                    margin-bottom: 0;
                    display: block;
                    width: fit-content;
                }
                span{
                    display: block;
                    width: fit-content;
                    svg{
                        max-width: 25px;
                        height: auto;
                    }
                }
            }
            .the-filter{
                display: none;
                transition: .2s;
                padding: 10px 0;
                ul{
                    list-style: none;
                    padding: 0;
                    display: flex;
                    flex-wrap: wrap;
                    gap: 5px;
                    margin-bottom: 7px;
                    li{
                        width: 31.33%;
                        a{ 
                            display: flex;
                            width: 100%;
                            justify-content: center;
                            align-items: center;
                            text-decoration: none;
                            border: 1px solid $black;
                            padding: 4px 0;
                            .name{
                                font-size: 16px;
                                color: $black;
                                font-weight: 400;
                            }
                        }
                        a.active{
                            background: $black;
                            .name{
                                color: $marron;
                            }
                        }
                    }
                }
            }
        }
        .by-size.active{
            .the-filter{
                display: block;
            }
        }
    }
}