#sales-template-cc2c74 {
    .count-down{
        padding: 5rem 0 1.5rem 0;
        position: relative;
        margin-bottom: 3rem;
        min-height: 53vh;
        @media(max-width:768px){
            min-height: 43vh;
        }
        &::before{
            content: '';
            width: 100%;
            height: 48%;
            background: #f1e9e5;
            position: absolute;
            left: 0;
            bottom: 0;
        }
        h1{
            font-size: scaleVW(120, 1920);
            font-weight: 700;
            position: relative;
            @media(max-width:768px){
                font-size: scaleVW(60, 480);
            }
        }
        #countdown{
            display: flex;
            justify-content: center;
            gap: 20px;
            position: relative;
            .item-count{
                span{
                    font-size: calc(1.2rem + 3.6vw);
                    color: $black;
                    font-weight: 700;
                }
                span:last-child{
                    font-size: calc(1rem + .6vw);
                    font-weight: 400;
                }
            }
        }
    }
    .closed-off{
        position: relative;
        .galleries{
            opacity: 0;
            transition: .4s;
            img{
                width: 100%;
                height: 75vh;
                object-fit: cover;
                @media screen and (min-width:510px) and (max-width:768px){
                    height: 85vh;
                }
            }
        }
        .container{
            position: absolute;
            width: 100%;
            height: auto;
            top: 70%;
            left: 50%;
            transform: translate(-50%, -70%);
            z-index: 1;
            p{
                background: $white;
                color: $black;
                padding: 2px 10px;
                margin-bottom: 9px;
                display: block;
                width: fit-content;
            }
            a{
                display: flex;
                width: fit-content;
                align-items: center;
                gap:15px;
                text-decoration: none;
                background: $white;
                border: 1px solid $white;
                color: $black;
                padding: 7px 1.3rem;
                border-radius: 30px;
                transition: .2s;
                line-height: 1.2;
                span{
                    font-weight: 400;
                    font-size: $p;
                }
                svg{
                    width: 17px;
                    height: auto;
                }
                &:hover{
                    background: $black;
                    color: $white;
                    svg{
                        g{
                            g{
                                line{
                                    stroke: $white;
                                }
                            }
                        }
                    }
                }
                @media(max-width:500px){
                    span{
                        font-size: $p_movil;
                    }
                    svg{
                        width: 14px;
                    }
                }
            }
        }
    }
}